name: Build

on:
  pull_request:
  push:
    branches:
      - 'main'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  dry-release:
    name: dry release
    uses: mathieu-keller/github-action-workflows/.github/workflows/semantic-release.yaml@v1.0.0
    with:
      release-branch: main
      dry: true
  npm:
    name: cache node modules
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache node_modules
        uses: actions/cache@v5
        id: npm-cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('package-lock.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: npm install if cache is invalid
        if: steps.npm-cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci
  check-format:
    needs:
      - npm
    name: check-format
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache node_modules
        uses: actions/cache@v5
        id: npm-cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('package-lock.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Check Format
        id: npm-format-check
        run: npm run format:check
  tests:
    needs:
      - npm
    name: tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Cache node_modules
        uses: actions/cache@v5
        id: npm-cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('package-lock.json') }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Test
        id: npm-ci-test
        run: npm run ci-test
  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-24.04
    needs:
      - check-format
      - tests
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
      - name: Test Local Action
        id: test-action
        uses: ./
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
        with:
          portainerHost: ${{ secrets.PORTAINER_HOST }}
          portainerApiKey: ${{ secrets.PORTAINER_API_KEY }}
          portainerStackName: 'test-stack'
          portainerFilePath: '__tests__/docker-compose.yml'
          portainerEnvVars: >
            {
              "version": "latest"
            }
  release:
    needs:
      - test-action
    name: release
    uses: mathieu-keller/github-action-workflows/.github/workflows/semantic-release.yaml@v1.0.0
    with:
      release-branch: main
      dry: false
